#term-back{
    width: 100%;
}

.term-body{
    margin-top: 50px;
}

th, td{
    vertical-align:top;
}


td{
    width: 25%;
}

.term-grid-item-number {
    float: left;
}

.term-grid-item-number img{
    position: relative;
    top: 0;
    width: 100%;
}

.term-grid-item-desc {
    display: inline-block;
    width: 60%;
}

.body_text_style{
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    font-weight: 400;
    font-size: 12px;
}

#definition{
    font-size: 18px;
    font-weight: 900;
}

.term-letter, .term-number{
    opacity: 0.0;
}

.term-grid-item-number svg{
    height: 75px;
}