body {
    background-color: #E3E3E3;
    margin: 0 auto;
}

/***** LOADING *****/

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

#line_img {
    width: 60%;
}

.s_left {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    -webkit-animation-name: leftmove;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 3;
    animation-name: leftmove;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

#s_left_img {
    width: 60%;
}

@-webkit-keyframes leftmove {
    0% {
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
    }
    50% {
        top: 50%;
        left: 50%;
        margin-top: -180px;
        margin-left: -180px;
    }
    100% {
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
    }
}

@keyframes leftmove {
    0% {
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
    }
    50% {
        top: 50%;
        left: 50%;
        margin-top: -180px;
        margin-left: -180px;
    }
    100% {
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
    }
}

.s_right {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    -webkit-animation-name: rightmove;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 3;
    animation-name: rightmove;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

#s_right_img {
    width: 60%;
}

@-webkit-keyframes rightmove {
    0% {
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
    }
    50% {
        top: 50%;
        left: 50%;
        margin-top: -120px;
        margin-left: -120px;
    }
    100% {
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
    }
}

@keyframes rightmove {
    0% {
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
    }
    50% {
        top: 50%;
        left: 50%;
        margin-top: -120px;
        margin-left: -120px;
    }
    100% {
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
    }
}

/***** HEADER *****/

.slide-down {
    width: 100%;
    height: 188px;
    display: none;
    background-color: #fafafa;
}

.top-logo {
    text-align: center;
}

.top-logo > img {
    margin-top: 20px;
    width: 35px;
}

/***** NAV BAR *****/

.nav-x {
    position: absolute;
    top: 30px;
    right: 10%;
}

.nav-x > img {
    width: 30px;
}

.nav-btn {
    margin: 40px 8em 0 8em;
}

.nav-btn table {
    width: 100%;
}

.nav-btn table tr td {
    text-align: center;
    width: 33.33%;
}

.nav-btn table tr td:first-child {
    text-align: left;
}

.nav-btn table tr td:last-child {
    text-align: right;
}

.nav-btn table tr td a {
    color: #333333;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2em;
}

.nav-btn table tr td a:hover {
    border-bottom: 1px solid #EA00EB;
}

.nav-btn table tr td a.current {
    color: #EA00EB;
}

/***** SUBTITLE LOGO *****/

.subtitle1 {
    text-align: center;
}

.subtitle1 > img {
    margin-top: 35px;
    width: 22%;
}

/***** MENU ICON *****/

.menu-icon {
    position: absolute;
    top: 50px;
    right: 10%;
}

.menu-icon > img {
    width: 38px;
}

main {
    margin: 1em 10% 0 10%;
}

/***** HOME IMG *****/

.home-image {
    position: relative;
}

.home-image img {
    position: absolute;
    top: 50px;
    width: 100%;
}

#home_back {
    z-index: -1;
    margin-bottom: 20px;
}

@-webkit-keyframes p_move {
    0% {
        top: 50px;
        animation-timing-function: ease-out;
    }
    17% {
        top: 63px;
        animation-timing-function: ease-in;
    }
    34% {
        top: 50px;
        animation-timing-function: ease-out;
    }
    51% {
        top: 58px;
        animation-timing-function: ease-in;
    }
    68% {
        top: 50px;
        animation-timing-function: ease-out;
    }
    85% {
        top: 63px;
        animation-timing-function: ease-in;
    }
    100% {
        top: 50px;
    }
}

@-moz-keyframes p_move {
    0% {
        top: 50px;
        animation-timing-function: ease-out;
    }
    17% {
        top: 63px;
        animation-timing-function: ease-in;
    }
    34% {
        top: 50px;
        animation-timing-function: ease-out;
    }
    51% {
        top: 58px;
        animation-timing-function: ease-in;
    }
    68% {
        top: 50px;
        animation-timing-function: ease-out;
    }
    85% {
        top: 63px;
        animation-timing-function: ease-in;
    }
    100% {
        top: 50px;
    }
}

@keyframes p_move {
    0% {
        top: 50px;
        animation-timing-function: ease-out;
    }
    17% {
        top: 63px;
        animation-timing-function: ease-in;
    }
    34% {
        top: 50px;
        animation-timing-function: ease-out;
    }
    51% {
        top: 58px;
        animation-timing-function: ease-in;
    }
    68% {
        top: 50px;
    }
    85% {
        top: 63px;
        animation-timing-function: ease-in;
    }
    100% {
        top: 50px;
    }
}

#home_t_p:hover {
    -moz-animation: p_move 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: p_move 3s;
    -webkit-animation-iteration-count: infinite;
    animation: p_move 3s;
    animation-iteration-count: infinite;
}

/***** PROJECTS PAGE *****/

.projects_width {
    overflow: hidden;
}

.projects {
    margin-bottom: 0;
    overflow: hidden;
    float: right;
    font-size: 8em;
    font-weight: 900;
    letter-spacing: 0.025em;
    font-family: 'Roboto', sans-serif;
}

#bodytext {
    float: left;
    width: 300px;
    letter-spacing: 0.025em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#subtitletext{
    float: left;
    width: 300px;
    letter-spacing: 0.025em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.clear{
    clear: both;
}

hr{
    width: 130px;
    float: left;
    border-bottom: 1px solid #EA00EB;
    margin-top: -15px;
}

#inbox{
    float: right;
}

.img+intro{
    width:100%;
    margin: 0 auto;
}

.row{
    clear: both;
    width: 100%;
    padding-top: 20px;
}

.left{
    width: 50%;
    float: left;
    overflow: hidden;
}

.right{
    width: 40%;
    float: left;
    overflow: hidden;
    padding-left: 10%;
    padding-top: 20px;
}

.left img{
    width:90%;
}

#last_img{
    margin-bottom: 20px;
}

.date{
    letter-spacing: 0.25em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.project_name{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.125em;
    font-weight: 900;
    font-size: 3em;
}

.project_name:hover, .project_name:focus, .project_name:active{
    color: #EA00EB;
}

.view_more {
    letter-spacing: 0.25em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    padding: 20px;
    background-color: #333333;
    width: 122px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.view_more:before {
    position: absolute;
    z-index: -1;
    top: calc(50% - 10px);
    right: 0;
    content: '';
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #333333;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.view_more:hover, .view_more:focus, .view_more:active {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.view_more:hover:before, .view_more:focus:before, .view_more:active:before {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}








